@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #006D77;
}

a:visited{
    color: #006D77;
}

body{
    font-family: 'Jost', sans-serif;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/dulce-locura.appspot.com/o/General%2FpatronFondo.png?alt=media&token=c255b878-7364-4fa8-bb84-c84e00f00bf6);
    min-height: 100vh;
}
